<% title = "CFHS :: Request Make" %>
<% menu = "R_make" %>
<% include header.ejs %>
<% if(session.utype === 2) { %>
<form class="well" onsubmit="return tocheckpw2()" data-ajax="false" method="post" action="/request/make" style="padding-top:120px">
    <div class="form-group">
      <label for="cost">의뢰 금액</label>
      <input type="number" class="form-control" id="cost" name = "cost" placeholder="금액을 입력하세요">
      <p id="costl" style="color:red;"></p>
    </div>
    <div class="form-group">
      <label for="start">개발 시작 날짜</label>
      <input type="date" class="form-control" id="start" name = "start" placeholder="개발 시작 날짜를 입력하세요">
      <p id="startl" style="color:red;"></p>
    </div>
    <div class="form-group">
      <label for="career_year">개발 종료 날짜</label>
      <input type="date" class="form-control" id="end" name="end" placeholder="개발 종료 날짜를 입력하세요">
      <p id="endl" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label for="career_year">최소 경력</label>
        <input type="number" class="form-control" id="career_year" name="career_year" placeholder="필요 개발 경력 년수를 입력하세요">
        <p id="cyl" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label for="minimum">최소 프리랜서 수</label>
        <input type="number" class="form-control" id="minimum" name="minimum" placeholder="최소 프리랜서 수를 입력하세요">
        <p id="minil" style="color:red;"></p>
    </div>
    <div class="form-group">
        <label for="maximum">최대 프리랜서 수</label>
        <input type="number" class="form-control" id="maximum" name="maximum" placeholder="최대 프리랜서 수를 입력하세요">
        <p id="maxl" style="color:red;"></p>
    </div>
    <div class="form-group">
      <label for="contract">의뢰문서</label><br>
      <input type="file" multiple class="form-control" id="contract" name = "contract" placeholder="의뢰문서를 업로드하세요">
      <p id="contl" style="color:red;"></p>
    </div>

    <div class="form-group">
    <table id="free_reg_lang_table">
        <colgroup>
            <col />
            <col width="15%"/>
        </colgroup>
        <thead>
            <tr>
                <th>언어</th>
                <th>능숙도</th>
            </tr>
        </thead>
        <tbody id="langTbody">

        </tbody>

    </table>
    <button type="button" onclick="addRow()" class="gray">행추가</button>
    <button type="button" onclick="delRow()" class="gray">행삭제</button>
        <input type="hidden" value="0" name="langcnt" id="langcnt">
    </div>
    <div>
    <button type="submit" class="btn btn-default">의뢰 신청</button>
    </div>

  </form>


  <script>
    function tocheckpw2() {
        var cost = document.getElementById("cost").value;
        var start = document.getElementById("start").value;
        var end = document.getElementById("end").value;
        var cy = document.getElementById("career_year").value;
        var minimum = document.getElementById("minimum").value;
        var maximum = document.getElementById("maximum").value;
        //var lang = document.getElementsByName("language");
        var set_type = null;
        var lang_table = document.getElementById('langTbody');  //행을 추가할 테이블
        var lang_rows = lang_table.rows;
        var contract = document.getElementById("contract").value;

        //console.log(lang);

        if(cost.length === 0){
            document.getElementById('costl').innerHTML = '금액을 입력해주세요';
            return false;
        }
        else{
            document.getElementById('costl').innerHTML = '';
        }

        if(start.length === 0){
            document.getElementById('startl').innerHTML = '개발 시작 날짜를 입력해주세요';
            return false;
        }
        else{
            document.getElementById('startl').innerHTML = '';
        }

        if(end.length === 0){
            document.getElementById('endl').innerHTML = '개발 종료 날짜를 입력해주세요';
            return false;
        }
        else{
            document.getElementById('endl').innerHTML = '';
        }

        if(cy.length === 0){
            document.getElementById('cyl').innerHTML = '최소 경력을 입력해주세요.';
            return false;
        }
        else{
            document.getElementById('cyl').innerHTML = '';
        }

        
        if(minimum.length === 0){
            document.getElementById('minil').innerHTML = '최소 프리랜서 수를 입력해주세요';
            return false;
        }
        else {
            document.getElementById('minil').innerHTML = '';
        }

        if(maximum.length === 0){
            document.getElementById('maxl').innerHTML = '최대 프리랜서 수를 입력해주세요';
            return false;
        }
        else {
            document.getElementById('maxl').innerHTML = '';
        }

        if(contract.length === 0){
            document.getElementById('contl').innerHTML = '의뢰 문서를 업로드해주세요';
            return false;
        }
        else{
            document.getElementById('contl').innerHTML = '';
        }

        if(lang_rows.length === 0){
            alert("언어를 입력해주세요!");
            return false;
        }
        var py_flag = false;
        var jv_flag = false;
        var cp_flag = false;
        for(i=0;i<lang_rows.length;i++)
        {
            //alert("lang alert: "+lang_rows.item(i).cells.item(0).firstChild.value);
            if(lang_rows.item(i).cells.item(0).firstChild.value === "Python")
            { 
                if (py_flag === true)
                {
                    alert("언어를 적절하게 입력해주세요!");
                    return false;
                }
                py_flag = true; 
                //alert("py_flag -> true");
            }
            else if(lang_rows.item(i).cells.item(0).firstChild.value === "Java")
            { 
                if (jv_flag === true)
                {
                    alert("언어를 적절하게 입력해주세요!");
                    return false;
                }
                jv_flag = true; 
            }
            else if(lang_rows.item(i).cells.item(0).firstChild.value === "C/C++")
            { 
                if (cp_flag === true)
                {
                    alert("언어를 적절하게 입력해주세요!");
                    return false;
                }
                cp_flag = true; 
            }
            //alert("value:",+lang_rows.item(i).cells.item(0).firstChild.value)
            //언어가 유효한 값인지 확인해야함!
            //alert("i: "+i);
            if(lang_rows.item(i).cells.item(0).firstChild.value === "")
            {
                alert("언어를 적절하게 입력해주세요!");
                return false;
            }

            //alert(lang_rows.item(i).cells.item(0).firstChild.value);
        }

    }
    /*
    function add_feed()
    {
        var div1 = document.createElement('div');
        // Get template data
        div1.innerHTML = document.getElementById('newlinktpl').innerHTML;
        // append to our form, so that template data
        //become part of form
        document.getElementById('newlink').appendChild(div1);
    }
    */
    </script>
    <script>
    function addRow(){
        //var newtable = $('free_reg_lang_table');
        //newtable = document.getElementById('free_reg_lang_table');  //행을 추가할 테이블

        mytable = document.getElementById('langTbody');  //행을 추가할 테이블
        row = mytable.insertRow(mytable.rows.length);  //추가할 행


        cell1 = row.insertCell(0);  //실제 행 추가 여기서의 숫자는 컬럼 수
        cell2 = row.insertCell(1);

        rowLen = mytable.rows.length;
        //cell1.innerHTML = "<td class='al fontB'><input type='text' placeholder='언어를 입력하세요' name='language' size='40'></td>"; //추가한 행에 원하는  요소추가
        cell1.innerHTML = "<td><select style= 'width:200px; height:40px;' name='language_name_"+rowLen+"'><option>Python</option><option>Java</option><option>C/C++</option></td>"
        //cell2.innerHTML = "<td><input type='checkbox' name='service'/></td>";
        cell2.innerHTML = "<td><select style= 'width:35px; height:35px;' name='language_level_"+rowLen+"'><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></td>"

        //alert(newtable.rows[0].cells[1].innerHTML);
        console.log("추가 rowLen: "+rowLen)
        document.getElementById('langcnt').value = rowLen;
        console.log("언어: "+mytable.rows.item(rowLen-1).cells.item(0).firstChild.value+" 능숙도: "+mytable.rows.item(rowLen-1).cells.item(1).firstChild.value)
    }
    function delRow(){
        mytable = document.getElementById('langTbody');  //행을 추가할 테이블

        mytable.deleteRow( mytable.rows.length-1 ); // 하단 삭제
        //alert(mytable.rows.item(rowLen-1).cells.item(0).firstChild.value)
        rowLen = mytable.rows.length;
        document.getElementById('langcnt').value = rowLen;
        console.log("삭제 rowLen: "+rowLen)
    }

    </script>
    <% } %>



<% include footer.ejs %>
